/* Responsive Mobile Device */
@media only screen and (max-width: 576px) {
  /* Responsive Nav Button Code */
  nav {
    display: block;
    display: flex;
    width: 92%;
  }
  .menu-btn {
    display: block;
  }
  #click:checked ~ .menu-btn i::before {
    content: "\f00d";
  }
  #click:checked ~ ul {
    left: 0;
  }
  nav ul {
    display: block;
  }
  nav ul {
    position: fixed;
    background-color: rgb(3, 69, 168);
    top: 80px;
    left: -100%;
    width: 100%;
    margin: 0 auto;
    height: 100vh;
    transition: all 0.5s ease;
  }
  nav ul li {
    margin: 50px 0;
    text-align: center;
  }
  nav ul li a {
    font-size: 22px;
    color: white;
  }
  /* Responsive Nav Button Code */
  /* Banner Section Code Start */
  #banner-container {
    width: 100%;
    height: 100vh;
  }
  .banner-text-container {
    width: 100%;
  }
  .banner-text-container h1 {
    font-size: 3rem;
  }
  .banner-text-container p {
    text-align: justify;
    padding: 0 10px;
  }
  .banner-input-container {
    width: 85%;
    padding: 12px;
    border-radius: 10px;
  }
  .banner-input-container input,
  .banner-input-container select,
  .banner-input-container button {
    width: 90%;
    height: 60px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    padding: 15px;
    font-size: 1rem;
  }
  /* Banner Section Code End */
  /* Popular Tour Section Code Start Here  */
  #popular-tour-section {
    width: 90%;
    flex-direction: column;
  }
  .popular-tour-text-container {
    padding-right: 0px;
    margin-bottom: 44px;
  }
  .popular-tour-text-container h2 {
    font-size: 2.2rem;
  }
  /* Popular Tour Section Code End Here  */
  /* Why Choose Us Section Code Start Here */
  #why-choose-us-container {
    width: 90%;
  }
  .why-choose-us-title {
    width: 100%;
  }
  .why-choose-us-title h2 {
    font-size: 2.2rem;
  }
  .why-choose-card-container {
    grid-template-columns: 1fr;
  }
  .Handpicked-Hotels,
  .Best-Price-Guarantee,
  .World-Class-Service {
    width: 100%;
    height: 330px;
  }
  .Best-Price-Guarantee {
    margin-left: 0;
  }
  /* Why Choose Us Section Code End Here */
  /* Destination Section Code Start */
  #Destination-section {
    width: 90%;
  }
  .destination-title-container {
    width: 100%;
  }
  .destination-title-container h2 {
    font-size: 2.5rem;
    font-weight: 700;
  }
  .destination-row-one {
    grid-template-columns: 1fr;
  }
  .destination-row-two {
    grid-template-columns: 1fr;
  }
  .destination-row-three {
    grid-template-columns: 1fr;
  }
  .card-country img {
    width: 100%;
    height: 200px;
  }
  .card-country {
    position: relative;
  }
  /* Destination Section Code End */
}
