/* Reset Code Start */
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Mulish", sans-serif;
}
/* Reset Code End */
/* Nav Section Code Start */
nav {
  width: 80%;
  margin: 0 auto;
  padding: 30px 0;
}
nav,
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .nav-logo {
  font-size: 1.8rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
nav .nav-logo h3 span {
  color: #ff5400;
}
#click,
.menu-btn {
  display: none;
}
.menu-btn {
  color: white;
  font-size: 22px;
  cursor: pointer;
  color: #424242;
}
ul li {
  list-style: none;
  padding-left: 15px;
}
ul li a:hover {
  background-color: #1e90ff;
  color: white;
}
ul li a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  color: #424242;
  padding: 10px 15px;
  border-radius: 5px;
}
/* Nav Section Code End */
/* Banner Section Code Start */

#banner-container {
  width: 80%;
  height: 500px;
  margin: 0 auto;
  border-radius: 15px;
  background-image: linear-gradient(rgba(19, 19, 24, 0.8), rgba(19, 19, 24, 0)),
    url(images/banner-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 48px;
}
.banner-text-container {
  width: 60%;
  margin: 0 auto;
}
.banner-text-container h1 {
  font-size: 4rem;
  font-weight: 800;
  color: #fff;
  margin-bottom: 24px;
}
.banner-text-container p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
  color: #fff;
}
.banner-input-container {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 12px;
  border-radius: 10px;
}
.banner-input-container input,
.banner-input-container select,
.banner-input-container button {
  width: 175px;
  height: 50px;
  margin: 10px;
  border-radius: 5px;
  border: none;
  padding: 15px;
  font-size: 1rem;
  color: rgba(19, 19, 24, 0.5);
}
.banner-input-container select option {
  padding-right: 10px;
}
.banner-input-container button {
  padding-right: 10px;
  background-color: #ff5400;
  color: white;
}
/* Banner Section Code End */
/* Popular Tour Section Code Start Here  */
#popular-tour-section {
  width: 80%;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
}
.popular-tour-text-container {
  padding-right: 70px;
  font-size: 1rem;
}
.popular-tour-text-container h2 {
  font-size: 2.8rem;
  font-weight: 800;
  margin-bottom: 24px;
}
.popular-tour-text-container p {
  font-size: 1rem;
  font-weight: 400;
  color: rgba(19, 19, 24, 0.7);
  margin-bottom: 24px;
}
.popular-tour-text-container button {
  background-color: rgb(255, 84, 0);
  color: rgb(255, 255, 255);
  border: none;
  padding: 12px 25px;
  font-size: 1rem;
  border-radius: 5px;
  margin-top: 24px;
}
.popular-tour-text-container p:nth-last-child(1) {
  margin-top: 20px;
}
.popular-tour-text-container ul {
  margin-left: 30px;
}
.popular-tour-text-container ul li {
  font-size: 1rem;
  font-weight: 400;
  color: rgba(19, 19, 24, 0.7);
  list-style-type: disc;
  margin-bottom: 15px;
}
/* Popular Tour Section Code End Here  */
/* Destination Section Code Start */
#Destination-section {
  width: 80%;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
}
.destination-title-container {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 48px;
}
.destination-title-container h2 {
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 24px;
}
.destination-title-container p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
  color: rgba(19, 19, 24, 0.7);
}
.destination-row-one,
.destination-row-two,
.destination-row-three {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  margin-bottom: 24px;
}
.destination-row-two {
  grid-template-columns: 0.85fr 1.2fr 0.7fr;
}
.destination-row-three {
  grid-template-columns: 0.75fr 1.25fr;
}
.card-country img {
  width: 100%;
  height: 300px;
}
.card-country {
  position: relative;
}
.card-country p {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  font-size: 1.5rem;
  font-weight: 500;
  transform: translate(-50%, -50%);
}

/* Destination Section Code End */
/* Why Choose Us Section Code Start Here */
#why-choose-us-container {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 100px;
}
.why-choose-us-title {
  width: 55%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 55px;
}
.why-choose-us-title h2 {
  font-size: 2.8rem;
  font-weight: 800;
  margin-bottom: 16px;
}
.why-choose-us-title p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 25px;
  color: rgba(19, 19, 24, 0.7);
}
.why-choose-card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 24px;
}

.Handpicked-Hotels,
.Best-Price-Guarantee {
  width: 570px;
  height: 283px;
  background-color: rgba(251, 181, 99, 0.05);
  border: 3px solid #feedda;
  border-radius: 15px;
  padding: 25px;
}
.World-Class-Service {
  width: 570px;
  height: 283px;
  background-color: rgba(41, 206, 246, 0.05);
  border: 3px solid #ecfbff;
  border-radius: 15px;
  padding: 25px;
}
.Best-Price-Guarantee {
  margin-top: 24px;
  margin-left: 26%;
}
.Handpicked-Hotels img,
.World-Class-Service img,
.Best-Price-Guarantee img {
  width: 80px;
  height: 80px;
  margin-bottom: 24px;
}
.Handpicked-Hotels h3,
.World-Class-Service h3,
.Best-Price-Guarantee h3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 16px;
}
.Handpicked-Hotels p,
.World-Class-Service p,
.Best-Price-Guarantee p {
  color: rgba(19, 19, 24, 0.7);
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
}
/* Why Choose Us Section Code End Here */
/* Footer Section Code Start */

footer {
  padding: 80px 0;
  text-align: center;
  background-color: rgba(19, 19, 24, 0.05);
}
footer .footer-logo {
  font-size: 1.8rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-bottom: 24px;
}
nav .nav-logo h3 span {
  color: #ff5400;
}
footer .footer-logo p {
  font-size: 1rem;
  font-weight: 400;
  color: rgb(90, 90, 93);
}
.social-media-icon {
  width: 60%;
  margin: 0 auto;
  font-size: 1.8rem;
  padding: 34px 0;
  border-bottom: 1px solid rgb(90, 90, 93);
}
.social-media-icon i {
  margin-right: 14px;
}
.copyright-text {
  font-size: 1rem;
  font-weight: 300;
  color: rgb(19, 19, 24);
  padding-top: 44px;
}
/* Footer Section Code Start */
